.hero {
   overflow: hidden;
   position: relative;
   background-image: url("../../assets/img/bank-tree.jpg");
   background-position: 0% 33%;
   background-size: cover;
   background-repeat: no-repeat;
   height: 400px;
   
   &__content {
      position: absolute;
      top: 80px;
      right: 80px;
      background-color: white;
      width: 365px;
      height: 215px;
      padding: 35px;
      
      &-subtitle {
         margin-bottom: 22px;
         font-size: 22px;
         font-weight: 800;
         letter-spacing: 1px;
       }

       &-text {
         font-size: 20px;
       }
     }
 }

.features {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 360px;

   @media (min-width: 920px) {
      flex-direction: row;
      margin-top: 1rem;
   }

   &__item{
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2.5rem;

      &-title{
         color: #222;
         font-size: 1.25rem;
         font-weight: bold;
         margin: 0.5rem 0 1rem 0;
         text-align: center;
      }
      &-text{
         color: #222;
         font-size: 1rem;
         text-align: center;
      }
   }
   &__icon{
      width: 100px;
      border: 10px solid #00bc77;
      border-radius: 50%;
      padding: 1rem;
   }
}